@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-primary: #181718;
    --color-secondary: #181718;
    --color-accent: #ca8a04;
    --color-bg: rgb(255, 255, 255);
    --color-text: #181718;
  }
}

.btn-shop{
  margin-top: 10px;
  position: relative;
  bottom: 9px;
  svg{
    width: 40px;
    height: 40px;
  }
}